/* Mobile Styles */
/* Header */
header .mobile-nav {
    padding: 25px;
    background-color: var(--color-black);
}
header .mobile-nav h2 {
    color: var(--color-white);
}
header .mobile-nav button {
    background-color: var(--color-black);
    border: none;
}
main {
    background-color: var(--color-light-gray);
}
main .tab-nav {
    justify-content: start;
    background-color: var(--color-bright-green);
    gap: 15px;
    padding: 10px 25px;
}
main .tab-nav h4.fw-200 {
    display: none;
}
main .searchbar-container {
    background-color: var(--color-white);
    padding: 5px;
}
main .searchbar-container .searchbar {
    padding: 10px 10px 10px 20px;
    gap: 15px;
    background-color: var(--color-light-gray);
    border-radius: 10px;
}
main .searchbar-container .searchbar input {
    border: none;
    outline: none;
    background-color: var(--color-light-gray);
    width: 100%;
}
/* Users List */
main .users-list {
    gap: 15px;
}
main .users-list .user {
    flex-flow: column;
    gap: 5px;
}
main .users-list .user .user-id {
    color: var(--color-gray-100);
    margin-left: 55px;
}
main .users-list .user .user-id img {
    display: none;
}
main .users-list {
    margin-top: 5px;
    background-color: var(--color-white);
    padding: 15px 25px;
}
main .users-list .user .user-name h4:nth-child(2) {
    color: var(--color-gray-100);
}

/* Sidebar */
main .desktop-sidebar {
    display: none;
}
.sidebar {
    display: none;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.68);
}
.sidebar .sidebar-container {
    padding: 25px;
    position: absolute;
    height: 100vh;
    width: 80%;
    right: 0;
    background-color: var(--color-white);
}
.sidebar .sidebar-container .topbar button {
    justify-self: flex-end;
    background-color: var(--color-white);
    border: none;
}
.sidebar .sidebar-container .topbar .sidebar-btn {
    padding: 15px 10px;
    text-decoration: none;
}
.sidebar .sidebar-container .topbar .sidebar-btn:visited {
    color: var(--color-black);
}
.sidebar .sidebar-container .bottombar button {
    width: 100%;
    padding: 15px;
    background-color: var(--color-light-red);
    color: var(--color-bright-red);
    border: none;
    border-radius: 10px;
}

/* User Data */
.user-data {
    display: none;
    background-color: var(--color-white);
}
.user-data .user-info {
    position: relative;
    background-color: var(--color-light-gray);
    padding: 40px 10px 20px 10px;
    gap: 25px;
}
.user-data .user-info button.close-btn {
    top: 20px;
    left: 25px;
    position: absolute;
    border: none;
    background-color: var(--color-light-gray);
}
.user-data .user-info .user-img {
    width: 100px;
    height: 100px;
}
.user-data .user-info .user-name h4:nth-child(2) {
    color: var(--color-gray-100);
}
.user-data .user-info .user-info-buttons button {
    border: none;
    height: 45px;
    border-radius: 10px;
    padding: 10px 25px;
    color: var(--color-blue);
}
.user-data .user-info .user-info-buttons button:nth-child(1) {
    background-color: var(--color-white);
}
.user-data .user-info .user-info-buttons button:nth-child(2) {
    background-color: var(--color-light-blue);
}
.user-data .user-info .user-info-buttons button:nth-child(3) {
    background-color: var(--color-bright-red);
    text-align: center;
}
.user-data .sa-btn {
    width: 100%;
    padding: 15px 20px;
    border: none;
    margin: 10px 0px;
    background-color: var(--color-light-gray);
}
.user-reviews {
    padding: 15px 0px 20px 0px;
    background-color: var(--color-light-gray);
}
.user-reviews .view-all-btn {
    margin-top: 15px;
    border: none;
    background-color: transparent;
}
.user-reviews .user-review {
    padding: 15px 20px;
}
.user-reviews .user-review:nth-child(1) {
    background-color: var(--color-white);
}
.user-reviews .user-review .review-score::before {
    content: "Review Score: ";
}
.user-reviews .user-review button {
    color: var(--color-blue);
    background-color: transparent;
    border: none;
}
.user-reviews .user-review img {
    width: 25px;
}
.user-data .donations-btn {
    margin-top: 10px;
    padding: 13px 20px;
    background-color: var(--color-light-gray);
    border: none;
}

/* Popup */
.popup-bg {
    background-color: rgba(0, 0, 0, 0.68);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}
.popup-bg .popup {
    background-color: var(--color-white);
    padding: 40px;
}
.popup-bg .popup .popup-btns {
    padding: 25px 0px 0px 0px;
    gap: 25px;
}
.popup-bg .popup .popup-btns button:nth-child(1) {
    background-color: transparent;
    border: none;
}
.popup-bg .popup .popup-btns button:nth-child(2) {
    padding: 20px 60px;
    background-color: var(--color-light-red);
    color: var(--color-bright-red);
    border: none;
    border-radius: 10px;
}
#prompt-popup, #form-popup {
    display: none;
}
#form-popup .popup-btns button:nth-child(2) {
    background-color: var(--color-light-blue);
    color: var(--color-blue);
}

/* User Account Popup */
main .bottom-popup {
    position: relative;
}
main .bottom-popup .back-btns {
    width: 100%;
    padding: 15px 25px;
    gap: 15px;
    background-color: var(--color-white);
}
main .bottom-popup .back-btns button:nth-child(3) {
    display: none;
}
main .bottom-popup .user-details {
    display: none;
    padding: 35px 25px;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}
main .bottom-popup .user-details .buttons {
    margin-top: 35px;
}
main .bottom-popup .user-details button {
    border: none;
    background-color: var(--color-black);
    padding: 7.5px 25px;
    color: var(--color-white);
    border-radius: 5px;
}
main .bottom-popup .back-btns button {
    border: none;
    background-color: transparent;
}

/* Points Table */
main .points-table {
    display: none;
    background-color: var(--color-white);
}
main .points-table .title {
    padding: 0px 25px 7.5px 25px;
}
main .points-table .title h4 {
    margin: 0px 0px 20px 7.5px;
}
main .points-table .navigators {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-light-gray-100);
    justify-content: space-between;
    align-items: center;
}
main .points-table .navigators button {
    font-size: 1rem;
    border: none;
    background-color: transparent;
}
main .points-table .navigators button.selected {
    font-weight: 600;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 5px 25px;
    border-radius: 5px;
}

main .points-table table thead {
    display: none;
}

main .points-table table tbody tr {
    width: 100%;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
main .points-table table tbody tr:nth-child(2n) {
    background-color: var(--color-light-gray);
}

main .points-table table tbody tr td:nth-child(2) img {
    background-color: var(--color-light-turquoise);
    border-radius: 50%;
}
main .points-table table tbody tr td:nth-child(1) {
    font-weight: bold;
    grid-row: 1/2;
    grid-column: 1/2;
}
main .points-table table tbody tr td:nth-child(2) {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: end;
}
main .points-table table tbody tr td:nth-child(3) {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: end;
}
main .points-table table tbody tr td:nth-child(4) {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: end;
}
main .points-table table tbody tr td:nth-child(5) {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: end;
}
main .points-table table tbody tr td:nth-child(5)::before {
    content: "Balance:";
    font-weight: bold;
}

/* Transactions Table */
.transactions-table {
    display: none;
}
.transactions-table thead {
    display: none;
}
.transactions-table tbody tr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 20px 25px;
}
.transactions-table tbody tr:nth-child(2n) {
    background-color: var(--color-light-gray);
}
.transactions-table tbody tr td:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
    color: var(--color-gray-100);
}
.transactions-table tbody tr td:nth-child(3) {
    text-align: end;
}
.transactions-table tbody tr td:nth-child(4) {
    text-align: end;
    color: var(--color-gray-100);
}
.transactions-table tbody tr td:nth-child(5) {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-content: flex-end;
}
.transactions-table tbody tr td:nth-child(6) {
    color: var(--color-blue);
    font-weight: 600;
}

/* Form Popup */
.popup-form-bg {
    display: none;
}

/* Desktop Styles */
@media (min-width: 1024px) {
    /* Header */
    header .mobile-nav {
        display: none;
    }
    /* Main */
    main .user-data {
        display: block;
    }
    main .user-data .user-info,
    main .user-data .sa-btn,
    main .user-data .user-reviews,
    main .user-data .user-reviews .user-review,
    main .user-data .donations-btn {
        border-radius: 10px;
    }
    main .user-data .user-reviews {
        padding: 10px;
    }

    main .tab-nav {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: var(--color-light-gray);
        padding: 25px 0px 20px 0px;
        justify-content: space-between;
    }
    main .tab-nav img {
        display: none;
    }
    main .tab-nav h4.fw-200 {
        display: block;
    }
    main .searchbar-container .searchbar {
        width: 100%;
    }
    main {
        height: 100vh;
        display: grid;
        grid-template-columns: 20% 50% 30%;
    }
    main .searchbar-container {
        grid-column: 2/3;
        display: flex;
        border-radius: 10px;
    }
    main .users-list .user .user-id img {
        display: block;
    }
    main .users-list {
        height: 80vh;
        display: flex;
        grid-column: 2/3;
        border-radius: 10px;
        margin-top: 10px;
    }
    main .users-list .user {
        margin: 5px 0px;
        flex-flow: row;
        justify-content: space-between;
    }
    main .users-list .user .user-id {
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    main .user-data {
        margin: 15px 15px 0px 15px;
        padding: 10px;
        background-color: var(--color-white);
        grid-column: 3/4;
        grid-row: 1/5;
        border-radius: 10px;
    }
    main .user-data .user-info {
        padding-top: 10px;
    }
    main .user-data .user-info .close-btn {
        display: none;
    }

    /* Sidebar */
    main .desktop-sidebar {
        position: fixed;
        bottom: 0;
        height: 100vh;
        display: flex;
        grid-column: 1/2;
        grid-row: 1/5;
        background-color: var(--color-black);
        margin-right: 15px;
    }
    main .desktop-sidebar .sidebar-nav {
        padding: 20px;
        border-bottom: 1px solid var(--color-gray-100);
    }
    main .desktop-sidebar .sidebar-nav {
        color: var(--color-white);
    }
    main .desktop-sidebar .topbar .navigations {
        padding: 20px 0px;
        gap: 15px;
    }
    main .desktop-sidebar .topbar .navigations .navigation-btn {
        padding: 10px 20px;
        border: none;
        background-color: transparent;
        color: var(--color-white);
        font-size: 14px;
        text-decoration: none;
    }
    main .desktop-sidebar .topbar .navigations .navigation-btn.selected {
        background-color: var(--color-bright-green);
        color: var(--color-black);
    }
    main .desktop-sidebar .bottombar {
        padding: 10px 10px 20px 10px;
    }
    main .desktop-sidebar .bottombar button {
        padding: 10px;
        border-radius: 10px;
        /* background-color: var(--color-light-red);     */
        border: none;
        color: var(--color-bright-red);
    }

    /* Popup */
    .popup-bg .popup {
        padding: 40px 100px;
    }

    /* User Account */
    main .bottom-popup-bg {
        display: none;
        background: rgba(0, 0, 0, 63%);
        height: 100vh;
        position: fixed;
        bottom: 0;
        width: 100vw;
    }
    main .bottom-popup {
        width: 100%;
        padding: 25px 100px;
        position: fixed;
        bottom: 0;
        background-color: var(--color-white);
        box-shadow: 0px 500px 100px 0px rgba(0, 0, 0, 0.25);
    }
    main .bottom-popup .back-btns {
        padding: 15px 0px;
        justify-content: space-between;
    }
    main .bottom-popup .back-btns h4 {
        font-size: 20px;
    }
    main .bottom-popup .back-btns button:nth-child(1) {
        display: none;
    }
    main .bottom-popup .back-btns button:nth-child(3) {
        display: block;
    }
    main .bottom-popup .user-details {
        margin-top: 15px;
        display: none;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        background-color: var(--color-light-gray);
        border-radius: 10px;
    }
    main .bottom-popup .user-details .buttons h4 {
        display: none;
    }

    /* Points Table */
    main .points-table {
        padding: 0px;
    }
    main .points-table .title {
        padding: 0px;
    }
    main .points-table .title .navigators {
        border: none;
        justify-content: flex-start;
        gap: 35px;
    }
    main .points-table .title h4 {
        margin: 0px 0px 20px 0px;
    }
    main .points-table table thead {
        display: table-header-group;
    }
    main .points-table table thead tr {
        border-bottom: 1px solid var(--color-light-gray-100);
        border-top: 1px solid var(--color-light-gray-100);
    }
    main .points-table table thead th {
        text-align: start;
    }
    main .points-table table tbody {
        
        overflow-y: scroll;
    }
    main .points-table table tbody tr {
        max-height: fit-content;
        min-height: fit-content;
        display: table-row;
    }
    main .points-table table th, 
    main .points-table table td {
        padding: 15px 10px;
    }
    main .points-table table tbody tr td:nth-child(3),
    main .points-table table tbody tr td:nth-child(4),
    main .points-table table tbody tr td:nth-child(5) {
        display: table-cell;
        text-align: unset;
    }
    main .points-table table tbody tr td:nth-child(1) {
        font-weight: normal;
    }
    main .points-table table tbody tr td:nth-child(5)::before {
        content: "";
    }

    /* Transactions Table */
    .transactions-table thead {
        display: table-header-group;
    }
    .transactions-table thead tr {
        border-bottom: 1px solid var(--color-light-gray-100);
    }
    .transactions-table thead tr th {
        padding: 15px 25px;
        text-align: start;
    }
    .transactions-table tbody tr {
        display: table-row;
        width: 100%;
    }
    .transactions-table tbody tr td {
        padding: 15px 25px;
        text-align: start;
    }
    .transactions-table tbody tr td:nth-child(3) {
        text-align: unset;
    }
    .transactions-table tbody tr td:nth-child(4) {
        text-align: unset;
    }
    .transactions-table tbody tr td:nth-child(5) {
        justify-content: start;
    }    
}