/* Dashboard Notifications Styles */
/* Mobile Styles */
.notifications {
    display: none;
    background-color: var(--color-white);
    padding: 20px;
    top: 75px;
    right: 25px;
    left: 25px;
    gap: 20px;
    box-shadow: 0px 50px 100px -50px var(--color-dimgray-100);
}
.notifications .notifications-container {
    height: 400px;
    overflow-y: scroll;
}
.notifications .notifications-container .notif {
    width: 100%;
    padding: 15px;
    background-color: var(--color-whitesmoke-200);
}
.notifications .notifications-container .notif .time {
    align-self: flex-end;
    color: var(--color-gray-100);
}

/* Desktop Styles */
@media (min-width: 1024px) {
    .notifications {
        width: 25%;
        top: 110px;
        left: 50%;
    }
}